<div class="grid-wrap">
  <div class="grid">

    <div class="column one">
      <div class="title">
        <h2>{{ site.title }}</h2>
      </div>

      <h2>{{ site.bio }}</h2>
    </div>

    <div class="column two">
      <div class="title">
        <h2>Works</h2>
      </div>

      {% for post in site.categories.works %}
      <div class="project-link-{{ forloop.index }}">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h2>{{ post.title }}</h2>
        </a>
        <div class="date">
          <h3>{{ post.date | date: "%B, %Y" }}</h3>
        </div>

        <div id="prevImg-{{ forloop.index }}" class="projectPreview">
          <img src="{{ post.image }}" alt="">
        </div>
      </div>
      {% endfor %}

      {% for post in site.categories.braindump %}
      <div class="project-braindump">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h2>{{ post.title }}</h2>
        </a>
        <div class="date">
          <h3>{{ post.date-copy }}</h3>
        </div>
        <div id="prevImg" class="projectPreview">
          <img src="{{ post.projectPreview }}" alt="">
        </div>
      </div>
      {% endfor %}

    </div>

    <div class="column three">
      <div class="title">
        <h2>Write to me</h2>
      </div>
      <h2>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <br>
      <a href="https://www.instagram.com/{{ site.Instagram }}/?hl=en">@{{ site.Instagram }}</a>
      <br>
      <a href="{{ site.Linkedin }}">LinkedIn</a>
      </h2>
    </div>
  </div>
</div>
