<div class="grid-wrap">
  <div class="grid">

    <div class="column one">
      <div class="title">
        <h2>{{ site.title }}</h2>
      </div>
      {% for post in site.categories.bio %}
      <h2>{{ post.content }}</h2>
        <div class="resume"><h3>
          <a href="{{ post.resume }}" download="ji_sabrinayingxi">Download CV</a>
        </h3></div>
      {% endfor %}


    </div>

    <div class="column two">
      <div class="title">
        <h2>Works</h2>
      </div>
      {% for post in site.categories.works %}
      <div class="project-link-{{ forloop.index }} project-link">
        <a href="{{ post.url  | remove: "index.html" }}">
          <h2>{{ post.title }}</h2>
        </a>
        <div>
          <h3>{{ post.date | date: "%B, %Y" }}</h3>
        </div>

        <div id="prevImg-{{ forloop.index }}" class="projectPreview">
          <img src="{{ post.image | prepend: site.url }}" alt="">
        </div>
      </div>
      {% endfor %}

      {% for post in site.categories.braindump %}
      <div class="project-braindump">
        <a href="{{ post.url  | remove: "index.html" }}">
          <h2>{{ post.title }}</h2>
        </a>
        <div>
          <h3>{{ post.date-copy }}</h3>
        </div>

        <div id="prevImg" class="projectPreview">
          <img src="{{ post.image | prepend: site.url }}" alt="">
        </div>
      </div>
      {% endfor %}

    </div>

    <div class="column three">
      <div class="title">
        <h2>Write to me</h2>
      </div>
      <h2>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <br>
      <a href="https://www.instagram.com/{{ site.Instagram }}/?hl=en">@{{ site.Instagram }}</a>
      <br>
      <a href="{{ site.Linkedin }}">LinkedIn</a>
      </h2>
    </div>
  </div>
</div>
